/*+-+-+-+-+ +-+
 |P|A|G|E| |1|
 +-+-+-+-+ +-+*/

section {
  display: none;
}

section.active {
  display: block;
}

#page1 {
  padding: 0px;
  margin: 0px;
  text-align: center;

}

#bgimage {
  background-image: url("./monjeuimage/bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  opacity: 0.5;
  position: relative;

}

#logobutton {
  display: flex;
}

#start-button {
  position: absolute;
  top: 470px;
  left: 855px;
}

.logo-img {
  width: 39%;
  position: absolute;
  margin-top: -761px;
  margin-left: 108px;
}

#titre {
  width: 98%;
  position: absolute;
  margin-top: -571px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*color: #003eaa;*/
  color: black;
  font-size: 40px;
}

.shark-img {
  width: 38%;
  position: absolute;
  margin-top: -577px;
  margin-left: 654px;
}

body button {
  font-size: 32px;
  background-color: black;
  /*background-color: #003eaa;*/
  color: #fff;
  padding: 18px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin: 20px 10px;
}

/*+-+-+-+
 |A|L|L|
 +-+-+-+*/

#page1 #page2 #page3 {
  margin: 0;
  padding: 0;
}

body h2 {
  text-transform: uppercase;
}

/* +-+-+-+-+ +-+
 |P|A|G|E| |2|
 +-+-+-+-+ +-+*/

#page2 {
  padding: 0px;
  margin: 0px;
  background-image: url("./monjeuimage/bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
}

#color-overlay {
width: 100%;
height: 100vh;
opacity: 0.5;
text-align: center;
color: #fff;
}


#color-overlay {
  position: relative;

}

#consigne {
  position: absolute;
  top: 540px;
  left: 403px;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*text-align: center;*/
}

#consigne h2 {
  font-size: 50px;
  text-align: center;
  text-transform: none; /*pas en maj à voir par la suite*/
}

#compteur-bg {
line-height: 95vh;
font-size: 165px;
margin: 0px;
font-family: Verdana;
}

/* +-+-+-+-+ +-+
 |P|A|G|E| |3|
 +-+-+-+-+ +-+*/

#page3 {
  /*background-size: cover; /*zoom taille de la page?*/
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative;
}

#page3 canvas {
  position: absolute;
  left:0;
  top:0;
  width:85%;
  margin:auto;
  object-fit: cover;
}

kbd {
  display: none;
}

/*canvas {
  border:1px solid #eee;
}*/

/*kbd {
  background:#eee; padding:.25em .35em;
}*/


